
h1{
    text-align: center;
    padding: 12px;
    background-color: darkgreen;
}
footer{
    text-align: center;
}

section{
    text-align: center;
    
   
}
table{
    text-align: center;
}
img{
    text-align: center;
}